<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1 style="text-align: center"><%= title %></h1>
        <div style="text-align: center">
            <button onclick="courses_table()">Courses Table</button>
            <button onclick="home()">Home</button>
        </div>
        <table>
            <tr>
                <th>Number</th>
                <th>Assignmnet Title</th>
                <th>Assignmnet Description</th>
                <th>Course Title</th>
            </tr>
            <% for (let i = 0; i < assignments.length; i++) { %>
            <tr>
                <td><%=i+1%></td>
                <td><%= assignments[i].assignments_title%></td>
                <td><%= assignments[i].description%></td>
                <td><%= assignments[i].title%></td>
            </tr>
            <%}%>
        </table>
    </body>
    <script>
        function courses_table() {
            location.href = '/courses/';
        }
        function home() {
            location.href = '/';
        }
    </script>
</html>
