<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1 style="text-align: center"><%= title %></h1>
        <div style="text-align: center">
            <button onclick="home()">Home</button>
        </div>
        <table>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Stream</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            <% for (let i = 0; i < courses.length; i++) { %>
            <tr>
                <td><%=i+1%></td>
                <td><%= courses[i].title%></td>
                <td><%= courses[i].stream%></td>
                <td><%= courses[i].type%></td>
                <td><%= courses[i].start_date.toLocaleDateString()%></td>
                <td><%= courses[i].end_date.toLocaleDateString()%></td>
            </tr>
            <%}%>
        </table>
    </body>
    <script>
        function home() {
            location.href = '/';
        }
    </script>
</html>
