<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1 style="text-align: center"><%= title %></h1>
        <div style="text-align: center">
            <button onclick="change_new_student()">New Student</button>
            <button onclick="assignments()">Assignment for Students</button>
            <button onclick="courses()">Courses for Students</button>
            <button onclick="home()">Home</button>
        </div>
        <table>
            <tr>
                <th>Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Tutition Fees</th>
            </tr>
            <% for (let i = 0; i < students.length; i++) { %>
            <tr>
                <td><%=i+1%></td>
                <td><%= students[i].first_Name%></td>
                <td><%= students[i].last_name%></td>
                <td><%= students[i].date_of_birth.toLocaleDateString()%></td>
                <td><%= students[i].tutition_Fees%></td>
            </tr>
            <%}%>
        </table>
    </body>
    <script>
        function change_new_student() {
            location.href = '/students/new';
        }
        function home() {
            location.href = '/';
        }
        function assignments() {
            location.href = '/students/sudents_assignments/';
        }
        function courses() {
            location.href = '/students/sudents_courses/';
        }
    </script>
</html>
